[include mainsail.cfg]

[include macros/*.cfg]
[include config/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3B00500019504D5930313820-if00

[virtual_sdcard]
path: /home/manasisv/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0