[include mainsail.cfg]

[include macros/*.cfg]
[include config/*.cfg]

[force_move]
enable_force_move: True

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3B00500019504D5930313820-if00

[virtual_sdcard]
path: /home/manasisv/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0


#####################################################################
#     Termperature Sensors
#####################################################################

[temperature_sensor Manta_M5P]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor CM4]
sensor_type: temperature_host
min_temp: 0
max_temp: 100


#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PA15
endstop_pin: tmc2240_stepper_x:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors                                                # LDO Picobilical overrides this setting 
position_endstop: 120
position_max: 120
homing_speed: 80                                                   # Can be increased after initial setup, Max 100
# homing_retract_dist: 5
homing_retract_dist: 0
homing_positive_dir: true

[tmc2240 stepper_x]
cs_pin: PD9
spi_bus: spi2
run_current: 0.5
interpolate: True
stealthchop_threshold: 0
# diag0_pin: ^!PD2
diag0_pin: ^!PC0
# driver_sgt:-64
driver_sgt:0


[stepper_y]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA13
endstop_pin: tmc2240_stepper_y:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
position_endstop: 120
position_max: 120
homing_speed: 50                                                    # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2240 stepper_y]
cs_pin: PD8
spi_bus: spi2
run_current: 0.5
interpolate: True
stealthchop_threshold: 0  
diag0_pin: ^!PD3 
driver_sgt:-64

# [stepper_x]
# step_pin: PC8
# dir_pin: !PC9
# enable_pin: !PA15
# rotation_distance: 40
# microsteps: 32
# full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# endstop_pin: tmc2240_stepper_x:virtual_endstop
# position_endstop: 120
# position_max: 120
# homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s   
# homing_retract_dist: 0
# homing_positive_dir: true

# [tmc2240 stepper_x]
# cs_pin: PD9
# spi_bus: spi2
# interpolate: True
# run_current: 0.85
# stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
# diag1_pin: PD3
# driver_SGT: -64                                                     # -64 is most sensitive value, 63 is least sensitive

# [stepper_y]
# step_pin: PC6
# dir_pin: PC7
# enable_pin: !PA9
# rotation_distance: 40
# microsteps: 32
# full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# endstop_pin: tmc2240_stepper_y:virtual_endstop
# position_endstop: 120
# position_max: 120
# homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s   
# homing_retract_dist: 0
# homing_positive_dir: true

# [tmc2240 stepper_y]
# cs_pin: PB10
# spi_bus: spi2
# interpolate: True
# run_current: 0.85
# stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
# diag1_pin: PC3 
# driver_SGT: -64 


#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
endstop_pin: ^PC2
rotation_distance: 8                                                # For T8x8 integrated lead screw
microsteps: 32
position_endstop: 120                                              # Default endstp position on the bottom for v0.2
position_max: 120
position_min: -1.5
homing_speed: 10
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2240 stepper_z]
cs_pin: PB2
spi_bus: spi2
interpolate: True
stealthchop_threshold: 0  
## For LDO-42STH25-1004CL200E 1.0A
run_current: 0.37
stealthchop_threshold: 0  
