
[temperature_fan Raspberry Pi]
pin: PA3
max_power: 1.0
shutdown_speed: 0.0
control: pid
#max_delta: 1.5
sensor_type: temperature_host
min_speed: 0
max_speed: 1.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time:2.0
min_temp: 0
max_temp: 100
target_temp: 50

# [temperature_fan Motors]
# pin: PA4
# max_power: 1.0
# shutdown_speed: 0.0
# control: pid
# #max_delta: 1.5
# sensor_type: tmc2240_stepper_x
# min_speed: 0
# max_speed: 1.0
# pid_kp: 1.0
# pid_ki: 0.5
# pid_kd: 2.0
# pid_deriv_time:2.0
# min_temp: 0
# max_temp: 100
# target_temp: 50

[fan]
pin: umb:gpio2

## HEF - Toolhead PCB
## Overwrites the hotend fan connection 
[heater_fan hotend_fan]
pin: umb:gpio3
heater: extruder
heater_temp: 50.0